header {
    background-color: rgba(13, 151, 214, 0.486);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.header-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}
.header-container input{
    padding: 10px;
    text-align: left;
    width: 250px;
    border: 1px solid #ccc;
}
